<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li id="hamburger" class="main-header__item" onclick="toggleMenu();">
        <i
          class="fa fa-bars fa-2x"
          aria-hidden="true"
          style="color: beige;"
        ></i>
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/">
          <button class="<%= path === '/' ? 'active' : '' %> navButton">
            Shop
          </button>
        </a>
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/products">
          <button class="<%= path === '/products' ? 'active' : '' %> navButton">
            Products
          </button>
        </a>
      </li>
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a class="navLink" href="/cart">
          <button class="<%= path === '/cart' ? 'active' : '' %> navButton">
            Cart
          </button>
        </a>
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/orders">
          <button class="<%= path === '/orders' ? 'active' : '' %> navButton">
            Orders
          </button>
        </a>
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/admin/add-product">
          <button
            class="<%= path === '/admin/add-product' ? 'active' : '' %> navButton"
          >
            Add Product
          </button>
        </a>
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/admin/products">
          <button
            class="<%= path === '/admin/products' ? 'active' : '' %> navButton"
          >
            Admin Products
          </button>
        </a>
      </li>
      <li class="main-header__item">
        <form action="/logout" method="POST" style="width: 100%; height: 100%;">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="navButton" style="font-weight: bold;">
            Logout
            <i
              style="color: red;"
              class="fa fa-power-off fa-1x"
              aria-hidden="true"
            ></i>
          </button>
        </form>
      </li>
      <% } else { %>
      <li class="main-header__item">
        <a class="navLink" href="/login"
          ><button class="<%= path === '/login' ? 'active' : '' %> navButton">
            Login
          </button></a
        >
      </li>
      <li class="main-header__item">
        <a class="navLink" href="/signup"
          ><button class="<%= path === '/signup' ? 'active' : '' %> navButton">
            Signup
          </button></a
        >
      </li>
      <% } %>
    </ul>
    <ul class="ShopIcon">
      <li style="font-size: 25px;">
        Haseeb ShopMania
        <span><i class="fa fa-shopping-cart fa-spin fa-2x fa-fw"></i></span>
      </li>
    </ul>
  </nav>
</header>

<!------------------------------------------ mobile menu ------------------------------------------------------>
<div id="sideMenuId" class="sideMenu" style="margin-left: -43%;">
  <div class="sideMenu-content">
    <div class="sideMenu-item">
      <a class="navLink" href="/"
        ><button class="<%= path === '/' ? 'active' : '' %> navButton">
          Shop
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <a class="navLink" href="/products"
        ><button class="<%= path === '/products' ? 'active' : '' %> navButton">
          Products
        </button></a
      >
    </div>
    <% if (isAuthenticated) { %>
    <div class="sideMenu-item">
      <a class="navLink" href="/cart"
        ><button class="<%= path === '/cart' ? 'active' : '' %> navButton">
          Cart
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <a class="navLink" href="/orders"
        ><button class="<%= path === '/orders' ? 'active' : '' %> navButton">
          Orders
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <a class="navLink" href="/admin/add-product"
        ><button
          class="<%= path === '/admin/add-product' ? 'active' : '' %> navButton"
        >
          Add Product
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <a class="navLink" href="/admin/products"
        ><button
          class="<%= path === '/admin/products' ? 'active' : '' %> navButton"
        >
          Admin Product
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <form class="navLink" action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="navButton" type="submit">
          Logout
          <i
            style="color: red;"
            class="fa fa-power-off fa-1x"
            aria-hidden="true"
          ></i>
        </button>
      </form>
    </div>
    <% } else { %>
    <div class="sideMenu-item">
      <a class="navLink" href="/login"
        ><button class="<%= path === '/login' ? 'active' : '' %> navButton">
          Login
        </button></a
      >
    </div>
    <div class="sideMenu-item">
      <a class="navLink" href="/signup"
        ><button class="<%= path === '/signup' ? 'active' : '' %> navButton">
          Signup
        </button></a
      >
    </div>
    <% } %>
  </div>
</div>
<div id="modalId" class="modal"></div>
